body {
  background-color: black;
}

h1 {
  text-align: center;
  font-family: Nanum Pen Script;
  font-size: 80px;
  margin-bottom: 65px;
  color: white;
}



.container {
  margin: 0 auto;
  width: 95%;
}

.links {
  color: white;
  font-size: 32px;
  text-decoration: none;
  font-family: Nanum Pen Script;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
}

header {
  background-color: black;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  width: 150px;
  float: left;
}

nav {
  float: right;
  margin-left: 70px;
  padding-top: 35px;
}

.layout-ul {
  list-style: none;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  height: 250px;
  width: 70vw;
  margin: 0 auto;
}

.body-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid rgb(118, 118, 118);
  border-radius: 3%;
}