body {
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 95%;
  }
  
  .links {
    color: white;
    font-size: 32px;
    text-decoration: none;
    font-family: Nanum Pen Script;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    transition: transform 250ms;
  }
  
  nav li:hover {
    transform: translateY(-2px);
  }
  
  header {
    background-color: black;
  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .logo {
    width: 150px;
    float: left;
  }
  
  nav {
    float: right;
    margin-left: 70px;
    padding-top: 35px;
  }

  h2 {
    font-family: Nanum Pen Script;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
  }




.form-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

  .form {
  background-color: black;
  box-sizing: border-box;
  height: 450px;
  padding: 20px;
  width: 450px;
  border-radius: 5%;
}


.subtitle {
  color: #eee;
  font-family: Nanum Pen Script;
  font-size: 40px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  font-family: Nanum Pen Script;
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 25px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.placeholder {
  color: black;
  font-family: Nanum Pen Script;
  left: 20px;
  font-size: 25px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}


.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-40px) translateX(5px) scale(0.75);
} */

 .input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: black;
}

.submit {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 30px;
  font-family: Nanum Pen Script;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:hover {
  background-color: rgb(168, 168, 168);
}

.submit:active {
  background-color: rgb(137, 137, 137);
}


@media only screen and (max-width: 768px) {
 
nav li {
  display: inline-block;
  margin-left: 15px;
}

.links {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: Nanum Pen Script;
}

.logo {
  width: 120px;
  float: left;
}

.description {
  margin-top: -30px;
  text-align: center;
  font-family: Nanum Pen Script;
  font-size: 28px;
  color: white;
}

}
